body{
margin: 5%;
padding: 0;
text-align: justify center;
font-family: "Source Sans Pro", "Avenir", "Arial", sans-serif;
font-size: 25px;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
}

.brandedlogo{
  grid-column-start: 1;
  grid-column-end: 3;
  width:50%;
  float: left;
  margin: 0px;
}

.backtoAM{
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: right;
}

.banner{
  grid-column-start: 1;
  grid-column-end: 4;
}

.one{
  grid-column-start: 1;
  grid-column-end: 2;
}

.two{
  grid-column-start: 2;
  grid-column-end: 3;
}

.three{
  grid-column-start: 3;
  grid-column-end: 4;
}


h1{
font-size: 40px;
}


/*banner*/
.bannerimage{
  height: 100%;
  width: 100%;
}


.hyperlink{
	color: #A30400;
	text-decoration: none;
}
.hyperlink:hover {
	color: #3d3d3d;
	text-decoration: none;
}

span{
  color:#A30400;
}
.theo{
  height: auto;
  Width: 300px;
}

.proof{
  height: 300px;
  Width: auto;
}

.myfamily{
  height:300px;
  Width:auto;
}
